*.ts
.jupyter
_build
_site
.ipynb_checkpoints
*_cache
/.quarto/
/_environment.local
/docs/_freeze/
/docs/output/
/docs/slides/template.qmd
/src/pgip.egg-info/
/src/pgip/_version.py
/tmp/
*.trees
tikz*.tex
