*.ts
.jupyter
_build
_site
.ipynb_checkpoints
*_cache
/.quarto/
/_environment.local
/docs/_freeze/
/docs/output/
/docs/data/
/docs/recipes/
/docs/slides/template.qmd
/docs/results/
/src/pgip.egg-info/
/src/pgip/_version.py
/tmp/
*.trees
tikz*.tex
/docs/pgip-data

# For all doc subdirectories exclude data files
*.txt
*.csi
*.d4
*.gz
*.tbi
*.csv
*.tex
*.tsv
*.fai
*.bed
*.fls
*.ind
*.ilg
*.ins
*.hd
*.glo
*.gls
/docs/*/*_files
/docs/*/*/*_files
/docs/_environment
/obsolete/
