// SciLife color scheme: see https://www.scilifelab.se/community-pages/resources/visual-identity/

$lime: #a7c947;
$lime25: #e9f2d1;
$lime50: #d3e4a3;
$lime75: #bdd775;

$teal: #045c64;
$teal25: #c0d6d8;
$teal50: #82aeb2;
$teal75: #43858b;

$aqua: #4c979f;
$aqua25: #d2e5e7;
$aqua50: #a6cbcf;
$aqua75: #79b1b7;

$grape: #491f53;
$grape25: #d2c7d4;
$grape50: #a48fa9;
$grape75: #77577e;

$lightgray: #e5e5e5;
$mediumgray: #a6a6a6;
$darkgray: #3f3f3f;

$blockMargin: 20px;
$headingMargin: $blockMargin 0 $blockMargin 0;
$presentation-slide-text-align: center !default;

$primary: $lime;

/*-- scss:rules --*/

pre.out {
  background-color: $lime;
}
pre.sourceCode.src {
  background-color: $teal25;
}

.green {
  color: $lime;
  font-weight: bold;
}

.label {
  color: $lime;
  font-weight: bold;
  background-color: white;
  font-size: 1em;
}

strong {
  color: $lime;
  font-weight: bold;
}

code {
  color: $grape;
  font-weight: bold;
  background-color: white;
}

code.tree {
  line-height: 8px;
  font-size: 18px;
}

code.stree {
  line-height: 6.6px;
  font-size: 12px;
}

code.sstree {
  line-height: 5.6px;
  font-size: 10px;
}

code.large {
  font-size: 20px;
}

.citation {
  font-size: 1em;
}

.flushright {
  float: right;
}

.center {
  margin: auto;
}

.highlight {
  background-color: $lime25;
  padding: 10px;
  border-radius: 20px;
  border-color: $grape;
  border-style: solid;
  border-width: 5px;
}

.graynote {
  color: $mediumgray;
  font-size: 0.7em;
}

dt {
  font-weight: bold;
  color: $grape;
}

.software {
  font-weight: bold;
  font-style: italic;
  color: $teal50;
}

.dna {
  font-weight: normal;
  font-family: monospace;
}

.dna .italic {
  font-weight: bold;
  font-family: monospace;
  color: $aqua75;
}

.reveal .compact > p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.reveal .compact img {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
